<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный вывод -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5p %c{1} - %m%n"/>
        </Console>

        <!-- Логи в файл -->
        <RollingFile name="FileLogger"
                     fileName="logs/test.log"
                     filePattern="logs/test-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Твои пакеты -->
        <Logger name="org.example" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
